body{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 576px) {
    
    .carousel-caption{
        bottom: 0px;
        padding-left: 100px;
        padding-right: 100px;
     }
    .carousel-caption>h5{
        font-size: 35px;
        font-weight: 400;
    }
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: #4A4A4A;
}

.carousel-section{
    margin-bottom: 100px;
}

.carousel-caption{
   bottom: 180px;
   padding-left: 100px;
   padding-right: 100px;
}
.carousel-caption>h5{
    font-size: 65px;
    font-weight: 550;
}
.button{
    padding: 12px 30px;
    text-align: center;
    justify-content: center;
    background-color: #289BDE;
    border: 1px solid #289BDE;
}
.nav-button{
    color: #2D9DDE ;
    border: 1px solid #2D9DDE;
    font-weight: 600;
}
.course-container>h1{
    font-weight: 700;
}
.course-container>p{
    font-size: 15px;
    color: #777777;
    margin-bottom: 50px;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;

}
.course-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 600;
}
.card-price{
    text-decoration: none;
    font-weight: 600;
    color: #289BDE;
}
.card-text{
    color: #777777;
}
.card-title{
    color: #494949;
}
.join-container{
    background-color: #289BDE;
    padding: 50px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 100px;
}
.join-row{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.join-dv{
    text-align: right;
}
.join-btn{
    padding: 10px 30px;
    color: #289BDE;
    font-weight: 600;
}
.ques-container{
    margin-bottom: 100px;
}
.ques-container>h1{
    font-weight: 600;
    margin-bottom: 20px;
}
.ques-container>p{
    font-size: 15px;
    color: #777777;
    margin-bottom: 50px;
}
.accordion-button{
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.company-list{
    margin-bottom: 100px;
}
.companies-title{
    font-weight: 600;
}
.footer-end{
    width: 100%;
    height: 300px;
    background-color:#212529;
}