body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: #4A4A4A;
}

.carousel-caption{
   bottom: 180px;
   padding-left: 100px;
   padding-right: 100px;
}
.carousel-caption>h5{
    font-size: 65px;
    font-weight: 550;
}
.button{
    padding: 12px 30px;
    text-align: center;
    justify-content: center;
    background-color: #289BDE;
    border: 1px solid #289BDE;
}
.nav-button{
    color: #2D9DDE ;
    border: 1px solid #2D9DDE;
    font-weight: 600;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;

}